* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header-caption {
    font-size: 60px;
    color: rgb(255, 255, 255);

}

.banner {
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 845px;

}

.caption-content {
    margin-top: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.btn-primary {
    margin-top: 25px;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    border: none;
    color: #005FAC;
}

/* body part */
.ul-list {
    list-style: none;
}

.maiyya {
    display: flex;
    gap: 150px;
    width: 1072px;
    height: 723.3px;
    margin-left: 280px;
    margin-top: 939px;
    margin-bottom: 100px;

}

.maiyya-content {
    margin-top: 250px;
    text-align: left;

}

.maiyya-caption {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.caption-details {
    margin-bottom: 20px;
}

/* my plan */
.my-plan {
    margin-top: 1792;
    margin-bottom: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.plans-are{
    display: flex;
    margin-left: 410px;
    gap: 200px;
    text-align: center;
    margin-bottom: 150px;
}
.logo-meaning{
margin-bottom: 20px;
}
.to-do{
margin-bottom: 20px;
}
.icons{
 margin-bottom: 20px;
}
/* double photo + button */
 
 .dual{
    margin-left: 335px;
    margin-right: 335px;
    margin-bottom: 130px;
     position: relative;
     text-align: left;
     border-radius: 10%;
 }
 .bottom-left {
    position: absolute;
    bottom: 70px;
    left: 100px;
  }
  .triple{
    font-weight: 700;
   font-size: 40px;
   color: #FFFFFF;
  }
    
 
.shadow{
     background-image: url(../images/watch.png);
    
}
 /*footer */
 
 
.footer-element{
    display: flex;
    gap: 300px;
    margin-left:220px ;
    margin: top 130px; 
    margin-right: 200px;
     
    background-color: #151414;
 
}

.future{
    text-align: left;
    margin-top: 90px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.future-caption{
    margin-bottom: 20px;
    font-weight: 700;
font-size: 45px;
 color: #F8F8F8;

}
.future-details{
    margin-bottom: 20px;
    font-weight: 400;
font-size: 16px;
 color: #FFFFFF;

}
.email-details{
    font-weight: 400;
    font-size: 16px;
     color: #FFFFFF;
     margin-top: 5px;
       
}
.phone-details{
    font-weight: 400;
    font-size: 16px;
     color: #FFFFFF;
     margin-top: 5px;
       margin-bottom: 20px;   
}
.subscribe{
    margin-bottom: 20px;
    text-align: left;
    
    margin-top: 90px;
   
    margin-bottom: 50px;
}
.subs-caption{
    margin-bottom: 20px;
    font-weight: 600;
font-size: 25px;
 color: #FFFFFF;

}
.email-me{
     border-color: #F8F8F8;
    border-radius:5%;
    background-color: #151414;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    padding: 10px 5px 10px 10px;

    
}
.btn-secondary{
    margin-top: 25px;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    border: none;
    background: #005FAC;
    border-radius: 8px; 
}
 